<mat-card *ngIf="deck">
    <mat-card-header>
        <img src="../assets/images/placeholder-thumb.jpg" />
        <span class="card-header">
            <mat-card-title>
                <h1>{{deck.Name}}</h1>
            </mat-card-title>
            <mat-card-subtitle>{{deck.Price ? deck.Price : 'Free'}}</mat-card-subtitle>
            <h2>Cards count: {{deck.CardsNumber}}</h2>
        </span>
    </mat-card-header>
    <mat-card-actions align="center">
        <button mat-raised-button>Subscribe</button>
        <a mat-raised-button color="primary" [routerLink]="['/quiz', deck.Linking]">
            Try it now
        </a>
        <button mat-raised-button (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>