<div *ngIf="deck">
    <h2>Deck details</h2>
    <mat-card>
        <img mat-card-image src="../assets/images/placeholder-thumb.jpg" />
        <mat-card-header>
            <mat-card-title><h1>{{deck.Name}}</h1></mat-card-title>
            <mat-card-subtitle>{{deck.Price ? deck.Price : 'FREE'}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-divider></mat-divider>
            <h2>Cards count: {{deck.CardsNumber}}</h2>
        </mat-card-content>
        <mat-card-actions align="center">
            <button mat-raised-button>Subscribe</button>
            <a mat-raised-button color="primary" [routerLink]="['/quiz', deck.Linking]">
                Try it now
            </a>
            <button mat-raised-button (click)="goBack()">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>