<div align="center">
        <h1>
                Welcome to Quiz!
        </h1>
        <mat-grid-list cols="6">
                <mat-grid-tile *ngFor="let card of cards">
                        <mat-card>
                                <mat-card-header>
                                        <mat-card-title>{{card.Question}}</mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                        <img mat-card-sm-image src="../assets/images/placeholder-thumb.jpg">
                                        <mat-card-title *ngFor="let answer of card.Answers">
                                                {{answer.Text}}
                                        </mat-card-title>
                                </mat-card-content>
                        </mat-card>
                </mat-grid-tile>
        </mat-grid-list>
        <!-- <mat-paginator [length]="10" [pageSize]="1" [pageSizeOptions]="[1]" (page)="pageEvent = $event">
        </mat-paginator>
        <div *ngIf="pageEvent">
                
        </div> -->
</div>