<div class="flex-container">        
        <mat-grid-list cols="3" *ngIf='cardCount' rowHeight="450px"><p style="color: white">___________________________________________________________________________________________________________________________</p>                                                                                                                                                                       
                <mat-grid-tile>
                        <div class="noSelect" id="leftHeap" hidden="hidden" (click)='counterMinus(); heapCtrl(); setChecked(); cleanColor();'>
                                <h3 class="textCenter">
                                        {{countPassedQuistions()}} {{passedQuistionOrQuistions()}} passed
                                </h3>
                                <img src="../assets/images/{{getImgPreNamePassed()}}cardBackMin.png" alt="card back">
                        </div>
                </mat-grid-tile>
                <mat-grid-tile>
                        <div class="width95">
                                <p class="noSelect">
                                        Question {{cards[counter].Id}} / {{cards.length}}
                                </p>
                                <mat-card>
                                        <mat-card-title id="cardTitle{{cards[counter].Id}}">
                                                {{cards[counter].Question}}
                                                <button mat-fab (click)="finishQuiz()" id="btnFinish">
                                                Finish
                                        </button>
                                        </mat-card-title>
                                        <hr>
                                        <mat-card-content *ngFor='let answer of cards[counter].Answers'>
                                                <label id='lable{{answer.Id}}'>
                                                <input  type="checkbox" 
                                                        id='checkbox{{answer.Id}}'
                                                        (change)='changeAnswerCheck(answer)'
                                                />
                                                {{answer.Text}}
                                        </label>
                                        </mat-card-content>
                                        <mat-card-actions>
                                                <button mat-raised-button (click)="counterMinus(); heapCtrl(); setChecked(); cleanColor();">Previous question</button>
                                                <button mat-raised-button (click)="counterPlus(); heapCtrl(); setChecked(); cleanColor();">Next question</button>
                                                <button mat-fab (click)="checkQuestion()" id="btnCheck">Check</button>
                                        </mat-card-actions>
                                </mat-card>
                        </div>
                </mat-grid-tile>
                <mat-grid-tile>
                        <div class="noselect" id="RightHeap" (click)="counterPlus(); heapCtrl(); setChecked(); cleanColor();">
                                <h3 class="textCenter">
                                        {{countLeftQuistions()}} {{leftQuistionOrQuistions()}} left
                                </h3>
                                <img src="../assets/images/{{getImgPreNameLeft()}}cardBackMin.png" alt="card back">
                        </div>
                </mat-grid-tile>
        </mat-grid-list>

        <div *ngIf='!cardCount'>
                <h1>Sorry, there are no cards in the deck...</h1>
        </div>

</div>