<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover table-responsive">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>
                            <a class="btn btn-primary">Question</a>
                        </th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody *ngFor="let card of cards; let i=index">
                    <!-- <tr *ngFor="let card of deck.cards; let i=index"> -->
                    <tr>
                        <td>{{i + 1}}</td>
                        <td>{{card.Question}}</td>
                        <td>{{card.CardType.Name}}</td>
                        <td class="btn-group">
                            <button class="btn btn-primary">
                                <i class="material-icons">info_outline</i>
                            </button>
                            <button class="btn btn-danger">
                                <i class="material-icons">delete_forever</i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>