<div class="flex-container">
    <div class="flex-item" *ngFor="let deck of decks">
        <mat-card>
            <mat-card-content class="fixed-size center">
                <img mat-card-m-image src="{{deck.Photo}}" *ngIf="deck.Photo; else stub" />
                <ng-template #stub>
                    <img mat-card-m-image src="../../../assets/images/placeholder-thumb.jpg" />
                </ng-template>
            </mat-card-content>
            <mat-card-header>
                <mat-card-title-group>
                    <span>
                        <mat-card-title>
                            {{deck.Name}}
                        </mat-card-title>
                        <mat-card-subtitle>
                            {{deck.Price ? deck.Price : 'FREE'}}
                        </mat-card-subtitle>
                        <mat-card-subtitle>Cards: {{deck.CardsNumber}}</mat-card-subtitle>
                    </span>
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-actions class="center">
                <div>
                    <a mat-raised-button color="primary" [routerLink]="['/', 'deck', deck.Linking, 'quiz']">
                        Try it now
                    </a>
                    <button mat-raised-button>Subscribe</button>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
</div>