<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">search</i>
                    </span>
                    <input type="text" placeholder="Search by Deck Name" [(ngModel)]="searchText" 
                        (ngModelChange)="onChange($event)"/>
                </div>
            </div>
            <table class="table table-bordered table-hover table-responsive">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>
                            <a class="btn btn-primary" (click)="sortTable()">Deck Name</a>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngFor="let deck of decks; let i=index" >
                    <tr>
                        <td>{{pageSize * page + i + 1}}</td>
                        <td>{{deck.Name}}</td>
                        <td class="btn-group">
                            <button class="btn btn-primary" (click)="onBtnInfoClick(deck.Linking)"
                            [routerLink]="['/moderator/decks/edit', deck.Linking]">
                                <i class="material-icons">info_outline</i>
                            </button>
                            <button class="btn btn-danger">
                                <i class="material-icons">delete_forever</i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <app-pagination [page-size]="pageSize" [total-count]="totalCount" [page]="page" (page-index)="onNotify($event)" (goNext)="onNext()"
                (goPrev)="onPrev()"></app-pagination>
        </div>
    </div>
</div>