<h2 mat-dialog-title>{{action}}</h2>
<mat-error *ngIf="!authService.validData() && clicked"><strong>Incorrect</strong> {{authService.getError()}}</mat-error>
<mat-dialog-actions align='center'>
    <form class="main-form" [formGroup]="myForm">
        <mat-dialog-content layout="column">
            <mat-form-field class="full-width">
                <input name="login" matInput placeholder="Login" [formControl]="myForm.controls['login']">
                <mat-error *ngIf="myForm.controls['login'].hasError('required')">
                    Login is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="myForm.controls['login'].hasError('maxlength')">
                    Login <strong>must</strong> be less then 18 symbols
                </mat-error>
            </mat-form-field>
        </mat-dialog-content>
        <mat-dialog-content layout="column">
            <mat-form-field class="full-width">
                <input name="password" matInput placeholder="Password" type="password" [formControl]="myForm.controls['password']">
                <mat-error *ngIf="myForm.controls['password'].hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="myForm.controls['password'].hasError('minlength')">
                    Password length <strong>must</strong> be at least 6
                </mat-error>
            </mat-form-field>
        </mat-dialog-content>
    </form>

    <mat-dialog-content layout="column">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button type="submit" [disabled]="!myForm.valid" mat-raised-button (click)="LogIn(myForm.value)">Sign In</button>
        <button mat-button (click)="Register()">Sign Up</button>
    </mat-dialog-content>
</mat-dialog-actions>
