<h2 md-dialog-title>{{action}}</h2>

<md-dialog-actions align='center'>
    <form class="main-form" [formGroup]="myForm">
        <!-- <md-dialog-content layout="column" *ngIf="signUp">
            <md-form-field class="full-width">
                <input mdInput placeholder="Login">
            </md-form-field>
        </md-dialog-content> -->
        <md-dialog-content layout="column">
            <md-form-field class="full-width">
                <input name="login" mdInput placeholder="Login" [formControl]="login">
                <md-error *ngIf="login.hasError('required')">
                    Login is <strong>required</strong>
                </md-error>
            </md-form-field>
        </md-dialog-content>
        <md-dialog-content layout="column">
            <md-form-field class="full-width">
                <input name="password" mdInput placeholder="Password" type="password" [formControl]="password">
                <md-error *ngIf="password.hasError('minLength')">
                    Please enter a valid password
                </md-error>
                <md-error *ngIf="password.hasError('required')">
                    Password is <strong>required</strong>
                </md-error>
            </md-form-field>
        </md-dialog-content>
    </form>

    <md-dialog-content layout="column">
        <button md-button md-dialog-close>Cancel</button>
        <button md-button type="submit" [disabled]="!myForm.valid" md-raised-button (click)="LogIn()">Sign In</button>
        <button md-button (click)="Register()">Sign Up</button>
    </md-dialog-content>

</md-dialog-actions>