<h2 mat-dialog-title>{{action}}</h2>
<mat-dialog-actions align='center'>
    <form class="main-form" [formGroup]="myForm">
        <mat-dialog-content layout="column">
            <mat-form-field class="full-width">
                <input name="login" matInput placeholder="Login" [formControl]="login">
                <mat-error *ngIf="login.hasError('required')">
                        Login is <strong>required</strong>
                    </mat-error>
            </mat-form-field>
        </mat-dialog-content>
        <mat-dialog-content layout="column">
            <mat-form-field class="full-width">
                <input name="email" matInput placeholder="Email" [formControl]="email">
                <mat-error *ngIf="email.hasError('pattern')">
                        Please enter a valid email address
                    </mat-error>
                <mat-error *ngIf="email.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
            </mat-form-field>
        </mat-dialog-content>
        <mat-dialog-content layout="column">
            <mat-form-field class="full-width">
                <input name="password" matInput placeholder="Password" type="password" [formControl]="password">
                <mat-error *ngIf="password.hasError('minLength')">
                        Please enter a valid password
                    </mat-error>
                    <mat-error *ngIf="password.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
            </mat-form-field>
        </mat-dialog-content>
        <!-- <mat-dialog-content layout="column">
            <mat-form-field class="full-width">
                <input name="password1" matInput placeholder="Confirm Password" type="password" [formControl]="password1">
                <mat-error *ngIf="password.hasError('minLength')">
                        Please enter a valid password
                    </mat-error>
                    <mat-error *ngIf="password.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
            </mat-form-field>
        </mat-dialog-content> -->
    </form>
    <mat-dialog-content layout="column">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button [mat-dialog-close]="true" (click)="Register()">Sign Up</button>
    </mat-dialog-content>
</mat-dialog-actions>