<h2 md-dialog-title>{{action}}</h2>
<md-dialog-actions align='center'>
    <form class="main-form" [formGroup]="myForm">
        <md-dialog-content layout="column">
            <md-form-field class="full-width">
                <input name="login" mdInput placeholder="Login" [formControl]="myForm.controls['login']">
                <md-error *ngIf="myForm.controls['login'].hasError('required')">
                    Login is <strong>required</strong>
                </md-error>
                <md-error *ngIf="myForm.controls['login'].hasError('maxlength')">
                    Login <strong>must</strong> be less then 18 symbols
                </md-error>
            </md-form-field>
        </md-dialog-content>
        <md-dialog-content layout="column">
            <md-form-field class="full-width">
                <input name="email" mdInput placeholder="Email" [formControl]="myForm.controls['email']">
                <md-error *ngIf="myForm.controls['email'].hasError('required')">
                    Email is <strong>required</strong>
                </md-error>
                <md-error *ngIf="myForm.controls['email'].hasError('pattern')">
                    Please enter a <strong>valid</strong> email address
                </md-error>
            </md-form-field>
        </md-dialog-content>
        <md-dialog-content layout="column">
            <md-form-field class="full-width">
                <input name="password" mdInput placeholder="Password" type="password" [formControl]="myForm.controls['password']">
                <md-error *ngIf="myForm.controls['password'].hasError('required')">
                    Password is <strong>required</strong>
                </md-error>
                <md-error *ngIf="myForm.controls['password'].hasError('minlength')">
                    Password length <strong>must</strong> be at least 6
                </md-error>
            </md-form-field>
        </md-dialog-content>
        <md-dialog-content layout="column">
            <md-form-field class="full-width">
                <input name="passwordConfirm" mdInput placeholder="Confirm Password" type="password" [formControl]="myForm.controls['passwordConfirm']">
                <md-error *ngIf="myForm.controls['passwordConfirm'].hasError('required')">
                    Confirmation is <strong>required</strong>
                </md-error>
                <md-error *ngIf="myForm.controls['passwordConfirm'].hasError('minlength')">
                    Confirmed password length <strong>must</strong> be at least 6
                </md-error>
                <md-error *ngIf="myForm.controls['passwordConfirm'].hasError('matchOther')">
                    Confirmed password doesn't <strong>match</strong>
                </md-error>
            </md-form-field>
        </md-dialog-content>
    </form>
    
    <md-dialog-content layout="column">
        <button md-button md-dialog-close>Cancel</button>
        <button md-button type="submit" [disabled]="!myForm.valid" [md-dialog-close]="true" (click)="Register(myForm.value)">Sign Up</button>
    </md-dialog-content>
</md-dialog-actions>
