<div *ngIf="course">
    <mat-card id="course">
        <mat-card-header>
            <span>                        
                <img src="../assets/images/placeholder-thumb.jpg" />
            </span>
            <span class="description">
                <mat-card-title>
                    <h1>{{course.Name}}</h1>
                </mat-card-title>
                <mat-card-subtitle>{{course.Price ? course.Price : 'FREE'}}</mat-card-subtitle>
                <mat-card-subtitle>
                    {{course.Description}}
                </mat-card-subtitle>
            </span>
        </mat-card-header>

        <mat-card-content>

            <mat-divider></mat-divider>

            <h2>Decks :</h2>
            <div class="flex-container">
                <div class="flex-item" *ngFor="let deck of course.Decks">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title><a [routerLink]="['/courses', course.Linking, deck.Linking]">{{deck.Name}}</a></mat-card-title>
                            <mat-card-subtitle>{{deck.Description}}</mat-card-subtitle>
                        </mat-card-header>

                        <mat-card-content>
                            <img mat-card-sm-image src="../assets/images/placeholder-thumb.jpg">
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions align="center">
            <button mat-raised-button (click)="goBack()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <a mat-raised-button color="primary" [routerLink]="['/quiz']">
                Try it now
            </a>
            <button mat-raised-button>
                Subscribe
            </button>
        </mat-card-actions>
    </mat-card>
</div>

<!-- <div>
    <router-outlet></router-outlet>
</div> -->