<div *ngIf="course">
    <mat-card>
        <mat-card-header>
            <span>                        
                <img mat-card-sm-image src="../assets/images/placeholder-thumb.jpg" />
            </span>
            <span>
                <mat-card-title>
                    <h1>{{course.Name}}</h1>
                </mat-card-title>
                <mat-card-subtitle>{{course.Price ? course.Price : 'FREE'}}</mat-card-subtitle>
            </span>
        </mat-card-header>

        <mat-card-content>
            <p>{{course.Description}}</p>

            <mat-divider></mat-divider>

            <h2>Decks :</h2>
            <mat-grid-list cols="4">
                <mat-grid-tile *ngFor="let deck of course.Decks">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title><a [routerLink]="['/courses', course.Linking, deck.Linking]">{{deck.Name}}</a></mat-card-title>
                            <mat-card-subtitle>{{deck.Description}}</mat-card-subtitle>
                        </mat-card-header>

                        <mat-card-content>
                            <img mat-card-sm-image src="../assets/images/placeholder-thumb.jpg">
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>

            <div align="center">
                <button mat-raised-button>Subscribe</button><br>
                <a mat-raised-button color="primary" routerLink="/quiz">Try it now</a>
            </div>
            <div align="center">
                <button mat-raised-button class="btnBack" (click)="goBack()">Back</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<!-- <div>
    <router-outlet></router-outlet>
</div> -->