.crop {
    width: 12rem;
    height: 12rem;
    overflow: hidden;
}

.crop img {
    height: auto;
    width: 100%;
}

#photo {
    width: 20rem;
    height: 20rem;
}

#photo img {
    height: auto;
    width: 100%;
}