.crop {
    height: 8rem;
    overflow: hidden;
}

.crop img {
    height: auto;
    width: 100%;
}

#photo {
    width: 20rem;
    height: 15rem;
}

#photo img {
    height: auto;
    width: 100%;
}


/* :host {
    width: 100vw;
}

#course {
    margin: 2vh 10vw;
}

#quizButton {
    color: primary;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: stretch;
}

.flex-item {
    order: 1;
    margin: 2vh 1vw;
}

.description {
    margin: -3vh auto auto 2vw;
}

.fixed-size {
    width: 20vw;
    height: 25vh;
}

.small-fixed-size {
    width: 10vw;
    height: 15vh;
}
.center {
    text-align: center;
}

img {
    max-width: 100%;
    max-height: 100%;
} */