:host {
    margin: 0 auto;
}

#quizButton {
    color: primary;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.flex-item {
    order: 1;
    margin: 2vh 1vw;
}

.description {
    margin: -3vh auto auto 2vw;
}