<div *ngIf="course">
    <mat-card id="course">
        <mat-card-header class="fixed-size center">
            <span>
                <img src={{course.Photo}} alt="Course Photo"/>
            </span>
            <span class="description">
                <mat-card-title>
                    <h1>{{course.Name}}</h1>
                </mat-card-title>
                <mat-card-subtitle>{{course.Price ? course.Price : 'FREE'}}</mat-card-subtitle>
                <mat-card-subtitle>
                    {{course.Description}}
                </mat-card-subtitle>
            </span>
        </mat-card-header>

        <mat-card-content>
            <mat-divider></mat-divider>
            <h2>Decks :</h2>
            <div class="flex-container">
                <div class="flex-item" *ngFor="let deck of course.Decks">
                    <mat-card>
                        <mat-card-header class="no-select">
                            <mat-card-title class="center">
                                    {{deck.Name}}
                            </mat-card-title>
                            <mat-card-subtitle>{{deck.Description}}</mat-card-subtitle>
                        </mat-card-header>

                        <mat-card-content class="small-fixed-size center">
                            <img mat-card-sm-image src="{{deck.Photo}}" *ngIf="deck.Photo; else stub" />
                            <ng-template #stub>
                                <img mat-card-m-image src="../../../assets/images/placeholder-thumb.jpg" />
                            </ng-template>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions align="center">
            <button mat-raised-button (click)="goBack()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <a mat-raised-button color="primary" [routerLink]="['/', 'course', course.Linking, 'quiz']">
                Try it now
            </a>
            <button mat-raised-button>
                Subscribe
            </button>
        </mat-card-actions>
    </mat-card>
</div>