<br>
<div class="row">
    <div class="col-xs-12 col-sm-1 col-md-2 col-lg-3 col-xl-4"></div>
    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 col-xl-2">
        <button type="button" class="btn btn-success btn-block" (click)="setSelector('courses'); getSubscribedCourses()">Courses</button>
    </div>

    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 col-xl-2">
        <button type="button" class="btn btn-success btn-block" (click)="setSelector('decks'); getSubscribedDecks()">Decks</button>
    </div>
    <div class="col-xs-12 col-sm-1 col-md-2 col-lg-3 col-xl-4"></div>
</div>
<br>
<div class="row">
    <div [ngSwitch]="selector" class="col-xs-12 col-sm-12">
        <div *ngSwitchCase="'courses'" class="col-xs-12 col-sm-12">
            <div class="row">
                <div *ngFor="let course of courses" id="courseId" [class]="addMainItemClasses()">
                    <div class="card center" style="width: 15rem">
                        <div class="crop" [routerLink]="['/catalog/course', course.Linking]">
                            <div *ngIf="course.IsNeedToRepeat" class="container">
                                <img class="card-img-top opacity15" src="{{course.Photo}}" alt="{{course.Name}}">
                                <div *ngIf="course.IsNeedToRepeat" class="centered">
                                    <img class="imgImDiv" src="../../assets/images/repeat.png" alt="repeatImg">
                                    <h2 class="timeToRepeat">Time to repeat</h2>
                                </div>
                            </div>
                            <div *ngIf="!course.IsNeedToRepeat" class="container">
                                <img class="card-img-top" src="{{course.Photo}}" alt="{{course.Name}}">
                            </div>
                        </div>
                        <div class="card-body mt-auto">
                            <div [routerLink]="['/catalog/course', course.Linking]">
                                <h4 class="card-title">{{course.Name}}</h4>
                                <p class="card-subtitle mb-2 text-muted">{{course.Price ? course.Price : 'FREE'}}</p>
                            </div>
                            <!-- <p class="card-text">{{course.Description}}</p> -->
                            <div class="text-center">
                                <a class="btn btn-sm btn-success" [routerLink]="['/course', course.Linking, 'quiz', 'go']">
                                    GO!
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="'decks'" class="col-xs-12 col-sm-12">
            <div class="row">
                <div [class]="addMainItemClasses()" id="deckId" *ngFor="let deck of decks">
                    <div class="card center" style="width: 15rem">
                        <<div class="crop">
                            <div *ngIf="deck.IsNeedToRepeat" class="container">
                                <img class="card-img-top opacity15" src="{{deck.Photo}}" alt="{{deck.Name}}">
                                <div *ngIf="deck.IsNeedToRepeat" class="centered">
                                    <img class="imgImDiv" src="../../assets/images/repeat.png" alt="repeatImg">
                                    <h2 class="timeToRepeat">Time to repeat</h2>
                                </div>
                            </div>
                            <div *ngIf="!deck.IsNeedToRepeat" class="container">
                                <img class="card-img-top" src="{{deck.Photo}}" alt="{{deck.Name}}">
                            </div>
                        </div>
                        <div class="card-body mt-auto">
                            <h4 class="card-title">{{deck.Name}}</h4>
                            <p class="card-subtitle mb-2 text-muted">{{deck.Price ? deck.Price : 'FREE'}}</p>
                            <div class="text-center">
                                <a class="btn btn-sm btn-success" [routerLink]="['/deck', deck.Linking, 'quiz', 'go']">
                                    GO!
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>