<h1>Moderation Panel</h1>
<div class="container">
    <div class="row">
        <button class="btn" [class.btn-primary]="whichButtonIsClicked=='categories'" [class.btn-outline-primary]="whichButtonIsClicked!='categories'"
            id="categories" (click)="onClick($event)">
            Categories
        </button>
        <button class="btn btn-outline-primary" [class.btn-primary]="whichButtonIsClicked=='courses'" [class.btn-outline-primary]="whichButtonIsClicked!='courses'"
            id="courses" (click)="onClick($event)">
            Courses
        </button>
        <button class="btn btn-outline-primary" [class.btn-primary]="whichButtonIsClicked=='decks'" [class.btn-outline-primary]="whichButtonIsClicked!='decks'"
            id="decks" (click)="onClick($event)">
            Decks
        </button>
    </div>

    <div class="row marginTop" *ngIf="whichButtonIsClicked=='categories'">
        Categories
        <!-- Table -->
    </div>
    <div class="row" *ngIf="whichButtonIsClicked=='courses'">
        <div class="container">
        <create-course class="row col-12 marginTopAndBottom"></create-course>
        
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div>
                            <input type="text" [(ngModel)]="queryString" placeholder="Search by Course Name" />
                        </div>
                    </div>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>
                                    <a href (click)="sortTable('Name')">Course Name</a>
                                </th>
                                <th>Description</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let course of courses | filter: queryString: searchableList
                                                              | sorting : path: order  ; let i = index">
                                <th scope="row">{{i+1}}</th>
                                <td>{{course.Name}}</td>
                                <td>{{course.Description}}</td>
                                <td>
                                    <button class="btn btn-primary">Details</button>
                                </td>
                                <td>
                                    <button class="btn btn-danger">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <nav>
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="row marginTop" *ngIf="whichButtonIsClicked=='decks'">
        Decks
        <!-- Table -->
    </div>

</div>