<div class="container">
    <h1>
        <span class="badge badge-primary">Moderation Panel</span>
    </h1>
    <br/>
    <div class="row">
        <button class="btn" [class.btn-primary]="whichButtonIsClicked=='categories'" [class.btn-outline-primary]="whichButtonIsClicked!='categories'"
            id="categories" (click)="onClick($event)">
            Categories
        </button>
        <button class="btn btn-outline-primary" [class.btn-primary]="whichButtonIsClicked=='courses'" [class.btn-outline-primary]="whichButtonIsClicked!='courses'"
            id="courses" (click)="onClick($event)">
            Courses
        </button>
        <button class="btn btn-outline-primary" [class.btn-primary]="whichButtonIsClicked=='decks'" [class.btn-outline-primary]="whichButtonIsClicked!='decks'"
            id="decks" (click)="onClick($event)">
            Decks
        </button>
        <button class="btn btn-outline-primary" [class.btn-primary]="whichButtonIsClicked=='cards'" [class.btn-outline-primary]="whichButtonIsClicked!='cards'"
            id="cards" (click)="onClick($event)">
            Cards
        </button>
    </div>

    <div class="marginTopAndBottom" *ngIf="whichButtonIsClicked=='categories'">
        <app-catalog-table></app-catalog-table>
    </div>
    <div class="marginTopAndBottom" *ngIf="whichButtonIsClicked=='courses'">
        <app-course-table></app-course-table>
    </div>
    <div class="marginTopAndBottom" *ngIf="whichButtonIsClicked=='decks'">
        <app-deck-table></app-deck-table>
    </div>
    <div class="marginTopAndBottom" *ngIf="whichButtonIsClicked=='cards'">
        
        <app-card-table></app-card-table>
    </div>

</div>