<mat-sidenav-container>
    <mat-sidenav mode="side" opened="true">
        <!-- <app-categories></app-categories> -->
    </mat-sidenav>

    <div *ngFor="let card of cards">
        <mat-card>
            <mat-card-header>
                <mat-card-title-group>
                    <span>                        
                        <img mat-card-sm-image src="../assets/images/Card.png" />
                    </span>
                    <span>
                        <mat-card-title>
                            <h2>{{Card.Question}}</h2>
                        </mat-card-title>
                        <mat-card-subtitle>{{Card.CardType}}</mat-card-subtitle>
                    </span>
                </mat-card-title-group>
            </mat-card-header>

        </mat-card>


    </div>
</mat-sidenav-container>