<md-sidenav-container>
    <md-sidenav mode="side" opened="true">
        <app-categories></app-categories>
    </md-sidenav>

    <div *ngFor="let card of cards">
        <md-card>
            <md-card-header>
                <md-card-title-group>
                    <span>                        
                        <img md-card-sm-image src="../assets/images/placeholder-thumb.jpg" />
                    </span>
                    <span>
                        <md-card-title>
                            <h2>{{card.Question}}</h2>
                        </md-card-title>
                        <md-card-subtitle>{{deck.CardType}}</md-card-subtitle>
                    </span>
                </md-card-title-group>
            </md-card-header>

            <md-card-content>
            </md-card-content>
        </md-card>

        <md-divider></md-divider>

    </div>
</md-sidenav-container>