<div class="hight10hv"></div>
<div class="row" *ngIf="isLoadedDeck && isLoadedCategories">
    <div class="col-xs-12 col-sm-1 col-md-2 col-lg-3"></div>
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
        <h2 class="text-center">Deck details</h2>
        <br>

        <form #mainForm="ngForm" (ngSubmit)="onSubmit()" name="deckMainForm">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6">
                    <div class="form-group">
                        <label for="nameId">Name</label>
                        <input type="text" class="form-control" id="nameId" placeholder="Deck name" [(ngModel)]="deck.Name" name="deckName">
                    </div>

                    <div class="form-group">
                        <label for="linkingId">Linking</label>
                        <input type="text" class="form-control" id="linkingId" placeholder="Deck linking" [(ngModel)]="deck.Linking" name="deckLinking">
                    </div>

                    <div class="form-group">
                        <label for="selectId">Category</label>
                        <select class="form-control" id="selectId" name="categoryName" [(ngModel)]="deck.CategoryName">
                            <option *ngFor="let category of categories" [attr.selected]="category.Name===deck.CategoryName ? true : null" [(ngValue)]="category.Name">
                                {{category.Name}}
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="number" min="0" class="form-control" id="price" placeholder="Deck price" [(ngModel)]="deck.Price" name="price">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-6">
                    <img src="../../../../assets/images/placeholder-thumb.jpg" alt="Deck photo" class="img-thumbnail">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-9 col-sm-8 col-md-9 col-lg-10">
                    <div class="form-group">
                        <label for="courseDecksId">Courses</label>
                        <select multiple class="form-control" id="coursesId" name="courses" [(ngModel)]="chosenDecksLinking">
                            <option *ngFor="let courseName of deck.CourseNames" id="courseName">
                                {{courseName}}
                            </option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <div class="form-group">
                        <!-- <button class="btn btn-success" data-toggle="modal" data-target="#cardsFormModal" data-whatever="Cards" (click)="cardsForm.reset()">Cards: {{deck.CardsNumber}}</button> -->
                        <button class="btn btn-success" [routerLink]="['/moderator/decks/edit/all/cards']">Cards</button>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <button type="button" class="btn btn-outline-secondary btn-lg float-left" (click)="setWhichButtonIsClicked()" [routerLink]="['/moderator']">Cancel</button>
                    <button type="submit" class="btn btn-primary btn-lg float-right">Update</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-xs-12 col-sm-1 col-md-2 col-lg-3"></div>

    <!-- Modal Form -->
    <div class="modal fade" id="cardsFormModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cards</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form (ngSubmit)="onModalSubmit()" #cardsForm="ngForm">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="multipleselectId">Decks' cards</label>
                            <select multiple class="form-control" id="multipleselectId" name="selectedDeck" [(ngModel)]="addedDecksLinking">
                                <option *ngFor="let cardId of deck.CardIds" id="cardId">
                                    {{cardId}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Remove selected</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="hight10hv"></div>
</div>