<div *ngIf="course">
    <md-card>
        <md-card-header>
            <span>                        
                <img md-card-sm-image src="../assets/images/placeholder-thumb.jpg" />
            </span>
            <span>
                <md-card-title>
                    <h1>{{course.Name}}</h1>
                </md-card-title>
                <md-card-subtitle>{{course.Price ? course.Price : 'FREE'}}</md-card-subtitle>
            </span>
        </md-card-header>

        <md-card-content>
            <p>{{course.Description}}</p>

            <md-divider></md-divider>

            <h2>Decks :</h2>
            <md-grid-list cols="6">
                <md-grid-tile *ngFor="let deck of course.Decks">
                    <md-card>
                        <md-card-header>
                            <md-card-title>{{deck.Name}}</md-card-title>
                            <md-card-subtitle>{{deck.Description}}</md-card-subtitle>
                        </md-card-header>

                        <md-card-content>
                            <img md-card-sm-image src="../assets/images/placeholder-thumb.jpg">
                        </md-card-content>
                    </md-card>
                </md-grid-tile>
            </md-grid-list>

            <div align="center">
                <button md-raised-button>Subscribe</button><br>
                <a md-raised-button color="primary" routerLink="/quiz">Try it now</a>
            </div>
        </md-card-content>
    </md-card>
</div>