<div class="flex-container">
    <div class="flex-item" *ngFor="let course of courses">
        <a [routerLink]="['/catalog/courses', course.Linking]">
            <mat-card>
                <mat-card-content class="fixed-size center">
                    <img mat-card-m-image src={{course.Photo}} />
                </mat-card-content>
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>
                            <h2>
                                {{course.Name}}
                            </h2>
                        </mat-card-title>
                        <mat-card-subtitle>{{course.Price ? course.Price : 'FREE'}}</mat-card-subtitle>
                        <mat-card-subtitle>
                            <p>{{course.Description}}</p>
                        </mat-card-subtitle>
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-actions class="center">
                    <a mat-raised-button color="primary" [routerLink]="['/course', course.Linking, 'quiz']">
                        Try it now
                    </a>
                    <button mat-raised-button>
                        Subscribe
                    </button>
                </mat-card-actions>
            </mat-card>
        </a>
    </div>
</div>