<md-sidenav-container>
    <md-sidenav #sidenav mode="side" opened="true">
        <app-categories></app-categories>
    </md-sidenav>
    <div *ngFor="let course of courses">
        <md-card id="{{course.id}}">
            <md-card-header>
                <md-card-title-group>
                    <md-card-title>
                        <h2>
                            <a>{{course.Name}}</a>
                        </h2>
                    </md-card-title>
                    <md-card-subtitle>{{course.Price ? course.Price : 'FREE'}}</md-card-subtitle>
                    <md-card-subtitle>{{course.Description}}</md-card-subtitle>
                </md-card-title-group>
            </md-card-header>

            <md-card-content>
                <md-expansion-panel>
                    <md-expansion-panel-header>
                        <md-panel-title>
                            Decks
                        </md-panel-title>
                    </md-expansion-panel-header>

                    <md-list>
                        <md-list-item *ngFor="let deck of course.Decks">
                            <h3 mdLine>{{deck.Name}}</h3>
                            <p mdLine>{{deck.Description}}</p>
                            <md-divider></md-divider>
                        </md-list-item>
                    </md-list>

                </md-expansion-panel>
            </md-card-content>
        </md-card>
        <md-divider></md-divider>
    </div>
</md-sidenav-container>