mat-card-header {
    margin: -2vh 0;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 90vw;
    margin: 0 auto;
    min-height: 75vh;
}

.flex-item {
    order: 1;
    margin: 2vh 1vw;
}