.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin: 0 10vw;
    min-height: 75vh;
}

.flex-item {
    order: 1;
    margin: 2vh 1vw;
}

.description {
    display: none;
    flex-wrap: wrap;
}

.flex-item:hover .description {
    display: block;
}

.show-description:hover .flex-item {
    z-index: 5;
}