<div class="row">
    <div class="col-3">
        <nav class="nav flex-column">
            <a class="nav-link active" [routerLink]="['/catalog/courses/Any']">
                Any
            </a>
            <a *ngFor="let category of categories" class="nav-link" [routerLink]="['/catalog/courses', category.Linking]">
                {{category.Name}}
            </a>
        </nav>
        <!-- <a href="/catalog/courses">Active</a> -->
    </div>
    <div class="col-9">
        <router-outlet></router-outlet>
        <!-- <app-footer></app-footer> -->
    </div>
</div>


<!-- <mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-button-toggle-group vertical #group="matButtonToggleGroup">
            <h3 id="categories">Categories</h3>
            <mat-button-toggle value="Any" (click)="select(null, sidenav)">
                Any
            </mat-button-toggle>
            <mat-button-toggle *ngFor="let category of categories" value="{{category.Name}}" (click)="select(category, sidenav)">
                {{category.Name}}
            </mat-button-toggle>
        </mat-button-toggle-group>
    </mat-sidenav>

    <mat-toolbar>
        <button mat-icon-button (click)="sidenav.open()">
            <mat-icon class="menu-icon">menu</mat-icon>
        </button>
        <mat-chip-list>
            <label>
                Category:
                <mat-chip>
                    {{group.value ? group.value : "Any"}}
                </mat-chip>
            </label>
        </mat-chip-list>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</mat-sidenav-container> -->