<nav>
    <mat-toolbar color="primary">
        <a mat-button routerLink="/">
            <img src="./assets/images/logo-white.ico"> Memo Rise</a>

        <span class="fill-remaining-space"></span>

        <a mat-button routerLink="/catalog/courses">Courses</a>
        <a mat-button routerLink="/catalog/decks">Decks</a>
        <!-- <button mat-button (click)="openSignUpDialog()">Sign Up</button> -->
        <button mat-button (click)="openSignInDialog()">Sign In</button>
    </mat-toolbar>
</nav>