<md-grid-list cols="5">
    <md-grid-tile colspan="1">
        <div>
            <img src="./placeholder-thumb.jpg">
            <h2>{{user.firstName}} {{user.lastName}}</h2>
            <a md-raised-button color="primary">Edit</a>
        </div>
    </md-grid-tile>

    <md-grid-tile colspan="4">
        <md-tab-group>
            <md-tab label="Account">
                <app-user-account></app-user-account>
            </md-tab>
            <md-tab label="Security">
                <app-user-security></app-user-security>
            </md-tab>
            <md-tab label="My Courses">
                <app-user-courses></app-user-courses>
            </md-tab>
            <md-tab label="My Decks">
                <app-user-decks></app-user-decks>
            </md-tab>
            <md-tab label="Statistics">
                <app-user-statistics></app-user-statistics>
            </md-tab>
        </md-tab-group>
    </md-grid-tile>
</md-grid-list>