<mat-grid-list cols="5">
    <mat-grid-tile colspan="1">
        <div>
            <img src="./placeholder-thumb.jpg">
            <h2>{{user.firstName}} {{user.lastName}}</h2>
            <a mat-raised-button color="primary">Edit</a>
        </div>
    </mat-grid-tile>

    <mat-grid-tile colspan="4">
        <mat-tab-group>
            <mat-tab label="Account">
                <app-user-account></app-user-account>
            </mat-tab>
            <mat-tab label="Security">
                <app-user-security></app-user-security>
            </mat-tab>
            <mat-tab label="My Courses">
                <app-user-courses></app-user-courses>
            </mat-tab>
            <mat-tab label="My Decks">
                <app-user-decks></app-user-decks>
            </mat-tab>
            <mat-tab label="Statistics">
                <app-user-statistics></app-user-statistics>
            </mat-tab>
        </mat-tab-group>
    </mat-grid-tile>
</mat-grid-list>