:host {
    width: 100%;
}

#background {
    height: 100%;
    background-image: url("../../assets/images/learning.png");
    background-position: center;
    background-size: cover;
    /* margin: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#trans-box {
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 2vh 2vw;
}