<div class="hight10hv"></div>
<div class="row" *ngIf="isLoadedCourse && isLoadedCategories && isLoadedDecks">
    <div class="col-xs-12 col-sm-1 col-md-2 col-lg-3"></div>
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
        <h2 class="text-center">Course details</h2>
        <br>
        
        <form #mainForm="ngForm" (ngSubmit)="onSubmit()" name="courseMainForm">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-6">
                            <div class="form-group">
                                    <label for="name" class="form-control-label">Course name:</label>
                            <div class="input-group">
                                    <input type="text" class="form-control" placeholder="course name" 
                                    id="name" 
                                    required maxlength={{regex.MAX_LENGTH_INPUT}} 
                                    pattern={{regex.INPUT_REGEX}}
                                    [(ngModel)]='course.Name' 
                                    name="Name" #name="ngModel">
                                    <span class="input-group-btn">
                                      <button class="btn btn-outline-primary" type="button" 
                                      [disabled]="name.invalid"
                                      (click)="checkName()">
                                      Check
                                    </button>
                                    </span>
                            </div>
                            <div *ngIf="name.invalid && (name.dirty || name.touched)"
                            class="alert alert-danger">
                              <div *ngIf="name.errors.required">
                                 {{error.REQUIRED}}
                              </div>
                              <div *ngIf="name.errors.pattern">
                                 {{error.INCORRECT_INPUT}}
                              </div>
                         </div>
                         <div *ngIf="!isUnique && afterCheck && (name.dirty || name.touched)"
                         class="alert alert-danger">
                         {{error.NAME_EXISTS}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="linkingId">Linking</label>
                            <input type="text" class="form-control" id="linkingId" 
                            placeholder="Course linking" [(ngModel)]="course.Linking"
                            name="courseLinking"
                            >
                        </div>

                        <div class="form-group">
                            <label for="selectId">Category</label>
                            <select class="form-control" id="selectId"
                            name="categoryName"
                            [(ngModel)] ="course.CategoryName"
                            >
                                <option *ngFor="let category of categories" 
 
                                [attr.selected]="category.Name===course.Category.Name ? true : null"
                                [(ngValue)]="category.Name" 
                                >
                                {{category.Name}}
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                                <label for="price">Price</label>
                                <input type="number" min="0" class="form-control" id="price" 
                                placeholder="Course price" [(ngModel)]="course.Price"
                                name="price"
                                >
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-6">
                        <img src="../../../../assets/images/placeholder-thumb.jpg" 
                        alt="Course photo" class="img-thumbnail">
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="form-group">
                                <label for="description">Description</label>
                                <textarea class="form-control" id="description" 
                                rows="3" [(ngModel)]="course.Description"
                                placeholder="Course description"
                                name="courseDescription"
                                ></textarea>
                        </div>
                    </div>
                </div>

                <div class="row">
                        <div class="col-xs-9 col-sm-8 col-md-9 col-lg-10">
                            <div class="form-group">
                                    <label for="courseDecksId">Decks</label>
                                            <select multiple class="form-control" 
                                                    id="courseDecksId" name="courseDecks"
                                                    [(ngModel)]="chosenDecksLinking"
                                                    >
                                                    <option *ngFor="let deckName of course.DeckNames" 
                                                    
                                                    id="deckName"
                                                    >
                                                    {{deckName}}
                                                    </option>
                                            </select>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-4 col-md-3 col-lg-2">
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    <button type="button" class="btn btn-danger"
                                    (click)="deleteDecks();"
                                    >
                                        <i class="material-icons">delete_forever</i>
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" 
                                        data-target="#addDecksFormModal" data-whatever="addDecks"
                                        (click) = "addDecksForm.reset()"
                                        >
                                                <i class="material-icons">add</i>
                                        </button>
                                    </div>
                            </div>
                        </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <button type="button" class="btn btn-outline-secondary btn-lg float-left" (click)="setWhichButtonIsClicked()" [routerLink]="['/moderator']">Cancel</button>
                        <button type="submit" class="btn btn-primary btn-lg float-right">Update</button>
                    </div>
                </div>
        </form>
    </div>
    <div class="col-xs-12 col-sm-1 col-md-2 col-lg-3"></div>
</div>



<!-- Modal Form -->
<div class="modal fade" id="addDecksFormModal"> 
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add decks</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form (ngSubmit)="onModalSubmit()" #addDecksForm="ngForm">
        <div class="modal-body">
            <div class="form-group">
                <label for="multipleselectId">ALL decks</label>
                        <select multiple class="form-control" 
                        id="multipleselectId" name="selectedDeck"
                        [(ngModel)]="addedDecksLinking"
                        >
                                <option *ngFor="let deckName of deckNames" 
                                id="deckName"
                                >
                                {{deckName}}
                                </option>
                        </select>
            </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" >Add selected</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </form>
      </div>
    </div>
  </div>


<div class="hight10hv"></div>

            
